
$clr-primary-cyan:hsl(179, 62%, 43%);
$clr-primary-yellow:hsl(71, 73%, 54%);

$clr-Neutral-gray:hsl(204, 43%, 93%);
$clr-Neutral-Blue:hsl(218, 22%, 67%);

$fw-400:400;
$fw-700:700;

$ff-primary: 'Karla', sans-serif;